.job-list {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
}

.job-list-item {
    margin: 10px;
    padding-right: 40px;
    height: 800px;
    border-style: solid;
    border-width: 1px;
    border-color: #178fff;
    max-width: 600px;
    overflow-y: scroll;
    border-radius: 10px;
}

.job-list-item h2{
    margin-top: 20px;
    text-align: center;
    margin-left: 40px;
}

.job-item {
    height: auto;
    width: auto;
    padding: 1px;
    list-style-type: none;
    border-bottom: 1px solid gray;
}
.job-item .ant-list-item-meta{
    text-align: left;

}
.job-item .ant-list-item-meta-content {
    padding: 10px;
}

.job-item:last-child {
    border-bottom:none;
}

.job-item .ant-list-item-meta-title {
    margin-block-start: 0px;
    margin-block-end: 5px;
}
.job-item .job-logo {
    max-width: 50px;
    max-height: 50px;
    float: right;
    text-align: center;
}

.job-item:hover {
    cursor: pointer;
    background-color: #e6f5fc;
}

.active {
    background-color: #e6f5fc;
}