.job-list{
    margin-left: 20px;
    display: flex;
}

.job-list-item {
    margin-top: 10px;
    margin-left: 30px;
    padding-right: 30px;
    height: 1000px;
    border-right-style: solid;
    border-width: 1px;
    border-color: #178fff;
    width: 400px;
    overflow-y: auto;

}

.job-list-item h2{
    text-align: center;
}

.job-item {
    padding: 1px;
    list-style-type: none;
    border-bottom: 1px solid gray;
}

.job-item .active {
    background-color: #61dafb;
}
.job-item .ant-list-item-meta{
    text-align: left;

}
.job-item .ant-list-item-meta-content {
    padding: 10px;
}

.job-item:last-child {
    border-bottom:none;
}

.job-item .ant-list-item-meta-title {
    margin-block-start: 0px;
    margin-block-end: 5px;
}
.job-item .job-logo {
    max-width: 50px;
    max-height: 50px;
    float: right;
    text-align: center;
}

.job-item:hover {
    cursor: pointer;
    background-color: #e6f5fc;
}