.ant-form.profile-view,
.profile-view {
    /* width: 550px; */
    /* margin: 50px auto; */
    margin-left: 20px;
    padding-left: 50px;

    margin-top: 50px;
    display: flex;

    justify-content: center;

}
.ant-form.profile-personInfo,
.profile-personInfo {
    padding-right: 125px;
}

.welcome {
    margin-left: 100px;
    margin-bottom: 20px;
}

.profile-savedList {
    padding-left: 60px;
    border-left-style: solid;
    border-width: 1px;
    border-color: #178fff;
}