.ant-form.profile-view,
.profile-view {
    /* width: 550px; */
    /* margin: 50px auto; */
    margin-left: 20px;
    padding-left: 50px;

    margin-top: 50px;
    display: flex;
}

.profile-personInfo {
    padding-right: 60px;
}

.profile-savedList {
    padding-left: 60px;
    border-left-style: solid;
    border-width: 1px;
    border-color: #178fff;
}