.profile-view {
    /* width: 550px; */
    /* margin: 50px auto; */
    font-size: 1em;
}

.profile-form {
    max-width: 30%;
    margin:0 auto;
}

.profile-form h3 {
    padding-top: 10px;
}

.welcome {
    text-align: center;
    font-size: 2em;
    margin-bottom:30px;
}

