.search-bar {
    display: flex;
    margin: 30px auto 20px auto;
    justify-content: center;
}

.job-location {
    margin-left: 50px;
}
.job-description-input {
    width: 350px;
}
.job-location-input {
    width: 350px;
}

.searchButton {
    margin-left: 50px;
    margin-top: 42px;
    width: 100px;
    height: 40px;
    background-color: #61dafb;
}