.ant-input {
    margin-left: 300px;
    margin-bottom: 30px;

    max-width: 500px;
    display: flex;
    horiz-align: center;
}
.search-bar {
    margin: 30px auto 0px auto;
    horiz-align: center;
}

.searchButton {

    margin-bottom: 30px;
    horiz-align: center;
}