.App-logo {
    float: left;
    height: 60px;
    pointer-events: none;
    margin-left: 10px;
}

.App-title {
    color: #f4ea2a;
    font-size: 24px;
    line-height: 60px;
    float: left;
    margin-left: 10px;
}

.App-header {
    background-color: #282c34;
    height: 60px;
    font-size: calc(10px + 2vmin);
    color: white;
}

.home,
.profile,
.login,
.logout {
    float: right;
    line-height: 60px;
    padding-right: 20px;
    font-size: 0.7em;
    color: #f4ea2a;
}

.home:hover {
    color: #178fff;
}

.profile:hover {
    color: #178fff;
}
.login:hover {
    color: #178fff;
}
.logout:hover {
    color: #178fff;
}